<header class="nav-header rounded-top">

  <div class="nav-logo-circle">
    <div class="nav-logo-circle-inner">
      <a routerLink="/home">
        C
      </a>
    </div>
  </div>
  <div class="nav-logo">
    <span class="nav-logo-text-lg"><strong>Christopher</strong> Hacia</span>
    <br />
    <span class="nav-logo-text-sm">&nbsp; Eat, sleep, code...</span>
  </div>

  <nav class="nav-main">
    <div class="nav-main-item">
      <a routerLink="/">Home</a>
    </div>
    <div class="nav-main-item">
      <a routerLink="/blog">Blog</a>
    </div>
    <div class="nav-main-item">
      <a routerLink="/resume">Resume</a>
    </div>
    <div class="nav-main-item">
      <a routerLink="/projects">Projects</a>
    </div>
    <div class="nav-main-item">
      <a routerLink="/contact">Contact</a>
    </div>
  </nav>

</header>
