<footer class="foot-nav rounded-bottom">
  <div class="foot-nav-item">
    <a href="https://github.com/chrishacia" target="_blank">GitHub</a>
  </div>
  <div class="foot-nav-item">
    <a href="https://discord.gg/xG6ezcNJ" target="_blank">Discord</a>
  </div>
  <div class="foot-nav-item">
    <a href="https://linkedin.com/in/chrishacia" target="_blank">LinkedIn</a>
  </div>
  <div class="foot-nav-item">
    <a href="https://facebook.com/christopher.hacia" target="_blank">Facebook</a>
  </div>
  <div class="foot-nav-item">
    &copy; {{year}} All rights reserved. <a href="//hacia.net" target="_blank">Hacia.net</a>
  </div>
</footer>
