<section>
  <div class="contact-form-notification">This form is not currently working.</div>
  <div class="contact-form">
    <form
      [formGroup]="form"
      (ngSubmit)="send()"
    >
      <h1>
        Contact
      </h1>
      <div>
        <label for="name">Your name:</label>
        <input
          formControlName="name"
          type="text"
          id="name"
          name="name"
        />
      </div>
      <div>
        <label for="email">Your email:</label>
        <input
          formControlName="email"
          type="email"
          id="email"
          name="email"
        />
      </div>
      <div>
        <label for="message">Your message:</label>
        <textarea
          formControlName="message"
          id="message"
          name="message"
        ></textarea>
      </div>
      <div class="contact-form-btn">
        <button class="btn" type="submit">
          Send
        </button>
      </div>
    </form>
  </div>
</section>
