/* You can add global styles to this file, and also import other style files */
:root {
  --rounded-radius: 30px;
  --rounded-btn-radius: 30px;
  --circle-radius: 50%;
  --main-bg-color: #FEFEFF;
  --main-link-color: #7095df;
  --main-text-color: #000;
  --body-bg-color: #333;
  --trim-color: rgb(129, 78, 129);
  --header-bg-color:  #f7f2fc;
  --highlight-color: #f7f2fc;
}

html, body {
  min-width: fit-content;
  min-height: fit-content;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  line-height: 1.5;
  color: var(--main-text-color);
  background-color: var(--body-bg-color);
}

a {
  color: var(--main-link-color);
  text-decoration: none;
}

.rounded-top {
  border-top-left-radius: var(--rounded-radius);
  border-top-right-radius: var(--rounded-radius);
}

.rounded-bottom {
  border-bottom-left-radius: var(--rounded-radius);
  border-bottom-right-radius: var(--rounded-radius);
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.content-body {
  background-color: var(--main-bg-color);
  padding: 20px 20px;
}

.btn {
  background-color: var(--main-bg-color);
  display: inline-block;
  padding: 5px 20px;
  border-radius: var(--rounded-btn-radius);
  border-color: var(--trim-color);
  border-style: solid;
  border-width: 2px;
  color: var(--trim-color);
  text-decoration: none;
  font-size: 1em;
  transition: all .3s ease-in-out;
  box-shadow:  10px 10px -8px rgba(0,0,0,.22);
  cursor: pointer;
  margin-right: 10px;
}

@media screen and (max-width: 750px) {
  .container {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
  }
}

